#root {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: center;
}

footer {
  width: 100%;
  padding: 20px 0;
  bottom: 0;
  margin-top: auto;
}

.nav-homebtns {
  display: flex;
  flex-direction: column;
  width: 20%;
  gap: 10px;
}

.nav-homebtns > * {
  animation: slideIn 1.5s ease-out forwards;
  opacity: 0;
  transform: translateX(300px);
  box-shadow: 0 0 5px #0f0, 0 0 10px #0f0;
}

.lead {
  color: #0f0;
  text-shadow: 0 0 5px #0f0, 0 0 10px #0f0;
}

.nav-homebtns > *:nth-child(1) {
  animation-delay: 3s;
}
.nav-homebtns > *:nth-child(2) {
  animation-delay: 3.2s;
}
.nav-homebtns > *:nth-child(3) {
  animation-delay: 3.3s;
}
.nav-homebtns > *:nth-child(4) {
  animation-delay: 3.5s;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(300px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.display-1 {
  color: #0f0;
  margin-top: 10px;
  text-shadow: 0 5px #0f0, 0 0 10px #0f0;
  font-size: 4rem;
}
#photo {
  display: flex;
  justify-content: flex-end;
}
.img-fluid {
  box-shadow: 0 0 5px #0f0, 0 0 10px #0f0;
}
.lead {
  color: #0f0;
  text-shadow: 0 0 5px #0f0, 0 0 10px #0f0;
  animation: fadeIn 2s ease-in forwards;
  opacity: 0;
  /* animation-delay: 3s; */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
