.project-text {
  font-size: 2rem;
  color: #0f0;
  font-family: "Courier New", Courier, monospace;
  text-shadow: 0 0 5px #0f0, 0 0 10px #0f0;
  overflow: hidden;
  border-right: 2px solid #0f0;
  animation: typingProjects 2s steps(20, end), blink-caret 0.5s step-end infinite;
  white-space: nowrap;
  width: fit-content;
  max-width: 12ch;
}

@keyframes typingProjects {
  from {
    width: 0;
  }
  to {
    width: 12ch; /* Adjust to fit message length */
  }
}

@keyframes blink-caret {
  from,
  to {
    border-right-color: transparent;
  }
  50% {
    border-right-color: #0f0;
  }
}
