/* MatrixAnimation.css */
.matrix-container {
  width: 100vw;
  height: 5vh;
  background: black;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.matrix-text {
  font-size: 2rem;
  color: #0f0;
  font-family: "Courier New", Courier, monospace;
  text-shadow: 0 0 5px #0f0, 0 0 10px #0f0;
  overflow: hidden;
  border-right: 2px solid #0f0;
  animation: typing 2s steps(50, end), blink-caret 0.5s step-end infinite;
  white-space: nowrap;
  /* padding-left: 100px; */
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 18ch; /* Adjust to fit your message length */
  }
}

@keyframes blink-caret {
  from,
  to {
    border-right-color: transparent;
  }
  50% {
    border-right-color: #0f0;
  }
}
