.project-card {
  text-shadow: 0 0 5px #0f0, 0 0 10px #0f0;
  background-color: rgb(30, 33, 34);
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  transition: transform 0.3s ease;
  width: 25%;
  box-shadow: 0 0 5px #0f0, 0 0 10px #0f0;
  p,
  h3 {
    color: white;
  }
}

/* .project-card {
  background-color: rgb(30, 33, 34);
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  transition: transform 0.3s ease;
  width: 25%;
} */

.project-card:hover {
  /* transform: translateY(-10px) scale(1.05); */
  box-shadow: 0 0 15px #0f0, 0 0 20px #0f0;
}

.project-hover-image {
  position: absolute;
  left: calc(100% + 20px);
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: auto;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  border-radius: 8px;
  box-shadow: 0 0 5px #0f0, 0 0 10px #0f0;
  z-index: 10;
}

.project-card:hover .project-hover-image {
  opacity: 1;
  visibility: visible;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .project-card {
    width: 300px;
    text-shadow: 0 0 5px #0f0, 0 0 10px #0f0;
    background-color: rgb(30, 33, 34);
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
  }

  .project-card:hover {
    box-shadow: 0 0 15px #0f0, 0 0 20px #0f0;
  }

  .project-card h3 {
    font-size: 1.25rem;
  }

  .project-card p {
    font-size: 0.85rem;
  }
}

/* Keep your existing hover image styles */
.project-hover-image {
  position: absolute;
  left: calc(100% + 20px);
  top: 50%;
  transform: translateY(-50%) translateX(-120px);
  width: 300px;
  height: auto;
  opacity: 0;
  visibility: hidden;
  transition: all 2.3s ease;
  border-radius: 8px;
  box-shadow: 0 0 5px #0f0, 0 0 10px #0f0;
  z-index: 10;
}

.project-card:hover .project-hover-image {
  opacity: 1;
  visibility: visible;
  transform: translateY(-50%) translateX(0);
}

.project-card:hover .project-hover-image {
  opacity: 1;
  visibility: visible;
}

/* MEDIA QUIRESE */
@media (max-width: 768px) {
  .project-hover-image {
    display: none;
  }
}

@media (max-width: 480px) {
  .project-card {
    max-width: 300px;
  }

  .project-card h3 {
    font-size: 1.1rem;
  }

  .project-card p {
    font-size: 0.8rem;
  }
}

/* Adjust the breakpoint to handle mobile devices */
@media (max-width: 850px) {
  .project-card {
    width: 500px;
  }
  .project-hover-image {
    display: none;
  }
}
@media (max-width: 950px) {
  .project-card {
    width: 60%;
  }
}
