/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
} */
html,
body {
  margin: 0;
  padding: 0;
  height: 90%;
  background-color: black;
}
/* body {
  border: 40px solid rgb(207, 156, 91);
  height: 100%;
}
body {
  border-color: rgb(128, 88, 37);
} */
